body {
	background-color: #fff0f5;

}

h1 {
	 width: 100%;
	padding:0% 100% 0% 0%;
	margin: 10px 0px;
	background-color: #fff0f5;
	 color: #D0D0D0;
	 font-size: 300%;
	 height:200%;
}
table.header {
	border-collapse:collapse;
	border: 1px solid black;
	width:100%;
	padding:100px;
	background-color: #ffe4e1;
}
tr {
	text-align: center;
	margin: 0px;
}
h3 {
	text-align: left;
	padding:0px 0px 0px 0px;
}
ul {
	padding:0px 0px 0px 5%;
}
li {
	list-style-type: none;
}
li.topic {
	font-weight: bold;
	font-style: italic;
}
img.me {
	max-width: 20%;
	opacity: .7;
	vertical-align: text-bottom;
}

div {
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
div.edu {
	margin: 0%;
	padding: 20% 12.5% 20% 12.5%;
	max-width: 25%;
	background-position: center;
	/*overflow: hidden;*/
	/*display: inline-block;*/
	/*background-color: red;*/
	min-height: 450px;

}
div.edu div {
	width: 99%;
	position: center;
	padding-top: 50%;
}
div.edu h3 {
	margin: 0px;
	text-align: center;	
}
div.sklz {
	min-height: 450px;
	margin: 0%;
	padding: 20% 12.5% 20% 12.5%;
	max-width: 25%;
	background-position: center;
	/*background-color: red;*/
	/*position: relative;
	top: 100px;
	overflow: hidden;*/

}
div.sklz div {
	width: 99%;
	position: center;
	padding-top: 50%;
}
div.sklz h3 {
	margin: 0px;
	text-align: center;
	
}
div.exp, div.com_serv, div.HnA {
	width: 45%
}
div.exp {
	padding:0% 100% 0% 0%;
	margin: 300px 100% 0px -5%;
}
div.exp h3, div.com_serv h3, div.HnA h3{
	border: solid;
	border-width: 1px;
	padding: 2px 0px;
	}

div.com_serv {
	padding:0% 100% 0% 0%;
	margin: 0px 100% 0px -5%;
}

div.HnA {
	padding:0% 100% 0% 0%;
	margin: 0px 100% 0px -5%;
}
